* {
    background-color: black;
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
background: transparent;


}
body{
    background: rgb(14, 12, 12);
    color: rgb(252, 251, 251);
    overflow: hidden;
    overflow-y: scroll;
}
 
 
 